@use '../../../styles/variables' as *;

.product-image {
    position: relative;
    overflow: hidden;

    @mixin mobileAndTablet {
        min-height: 561px;

        &__preview {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &__images {
            padding-top: 461px !important;
        }
    }

    @include media(tablet) {
        @include mobileAndTablet;
    }

    @include media(mobile) {
        @include mobileAndTablet;
    }

    &__preview {
        margin-bottom: 10px;
        width: 456px;
        height: 451px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: auto;
        margin-right: auto;


    }

    &__images {
        max-width: 100%;
        overflow-x: auto;
        margin: 0 auto;
        width: fit-content;

        &-content {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            gap: 10px;

            overflow: auto;
            max-width: 100%;

            &-item {
                border-radius: 2px;
                border: 1px solid $border;
                cursor: pointer;

                &:hover,
                &.active {
                    border-color: $secondary;
                }
            }
        }
    }
}