 @import '../../styles//variables';

 .layout {

     &__background {
         height: 250px;
         background: $primary;
         position: absolute;
         left: 0;
         right: 0;
         z-index: -1;
     }

     &__header {
         padding: $p20 0;
         display: flex;
         justify-content: flex-end;
         align-items: center;
     }
 }