$primary: #4A5568;
$secondary: #ED8936;
$link: #2B6CB0;
$bodyText: #000000;
$bodyTextSub: #4A5568;
$border: #D9D9D9;
$danger: #DE3535;
$white: #FFFFFF;

// break points
$screenMobile: 390px;
$screenTablet: 1024px;
$screenDesktop: 1440px;

// max container
$containerMobile: 358px;
$containerTablet: 874px;
$containerDesktop: 1100px;

$media_queries: (
    'mobile': unquote("(max-width: 1024px)"),
    'tablet': unquote("(min-width: 1025px) and (max-width: 1440px)"),
    'desktop': unquote("(min-width: 1441px)")
);

@mixin media($breakpoints) {
    $conditions : ();

    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append($conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma);
    }

    @media #{$conditions} {
        @content;
    }

}


$borderRadius: (
    xxs: 2px,
    xs: 4px,
    sm: 6px,
    md: 8px,
    lg: 16px,
    xl: 32px,
    50: 50%,
);

$fontSize: (
    // 48
    h1: 3rem,
    // 36
    h2: 2.25rem,
    // 32 
    h3: 2rem,
    // 24
    h4: 1.5rem,
    // 20
    h5: 1.25rem,
    h6: 1rem,
    // 16px
    span: 1rem,
    // 14px
    text-xs: 0.875rem,
    text-xxs: 0.75rem,
);

$p10: 10px;
$p20: 20px;