@import './variables';

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
}

body {
    padding-bottom: 120px;
    position: relative;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding-left: 19px;

    li>span {
        position: relative;
        left: -4px;
    }
}

// scrollbar
body,
* {
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: map-get($borderRadius, md);
    }

    &::-webkit-scrollbar-track {
        background-color: $border;
        border-radius: map-get($borderRadius, md);
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 140%;
    margin: 0;
    font-weight: 400;
}

// typo
h1 {
    font-size: map-get($fontSize, h1);
}

h2 {
    font-size: map-get($fontSize, h2);
}


h3 {
    font-size: map-get($fontSize, h3);
}


h4 {
    font-size: map-get($fontSize, h4);
}

h5 {
    font-size: map-get($fontSize, h5);
}

h6 {
    font-size: map-get($fontSize, h6);
}

// body text
span {
    font-size: map-get($fontSize, span);
    line-height: 140%;
}

span.text-xs {
    font-size: map-get($fontSize, text-xs);
    line-height: 140%;
}

span.text-xxs {
    font-size: map-get($fontSize, text-xxs);
    line-height: 140%;
}


// radius
.radius-2 {
    border-radius: 2px;
}

// text color
.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-sub {
    color: $bodyTextSub;
}

.text-border {
    color: $border;
}

.text-danger {
    color: $danger;
}

.text-white {
    color: $white;
}

.text-link {
    color: $secondary;
    cursor: pointer;
    text-decoration: underline;
}

// display
.d-block {
    display: block;
}



// common style
.container {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.box {
    box-shadow: 0px 0px 16px 0px $backdropColor;
    padding: $p20;
    background-color: $white;
    border-radius: map-get($borderRadius, md);
    margin-top: 40px;
}

.line {
    @mixin line {
        border-bottom: 1px solid $border;
    }

    @include line;

    &-2 {
        @include line;
        border-bottom-width: 2px;
    }
}

@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-ellipsis-1 {
    @include text-ellipsis;
    -webkit-line-clamp: 1;
}

.text-ellipsis-2 {
    @include text-ellipsis;
    -webkit-line-clamp: 2;
}

// modal 
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;

    transition: 0.2s ease-in opacity;
    opacity: 0;

    &.backdrop {
        background-color: $backdropColor;
    }

    &.show {
        opacity: 1;
        z-index: 10;
    }

    &.modal-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-body {
        background: $white;
        border-radius: 8px;
        padding: 20px;
    }

    &.modal-xs {
        .modal-body {
            width: 380px;
        }
    }
}



// media queries
@include media(mobile) {
    .container {
        max-width: $containerMobile;
    }
}

@include media(tablet) {
    .container {
        max-width: $containerTablet;
    }
}

@include media(desktop) {
    .container {
        max-width: $containerDesktop;
    }
}