@import '../../../styles/variables';

.product {
    padding-top: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    width: 200px;

    position: relative;
    cursor: pointer;
    background-color: $white;

    &:hover {
        border-color: $border;
    }

    &__discount {
        position: absolute;
        z-index: 1;
        left: 10px;
        top: 10px;
        color: $danger;
    }

    &__image img {
        margin: 0 auto;
    }

    &__info {
        padding: 10px;
        padding-top: 0;

        &-name {
            width: calc(99%);
            margin-bottom: 8px;
        }

        &-detail-row {
            margin-bottom: 4px;
        }
    }

}