@import '~src/styles/variables';

.header {
    background-color: $primary;
    height: 60px;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 100%;
    }

    @include media(mobile) {}
}