@use '~src/styles/variables' as *;

.hobbies {
    &__title {
        margin-bottom: $p10;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        &-wrap {
            margin: 20px;
        }

        &-image {}

        &-label {
            text-align: center;
            font-size: 25px;
            line-height: 140%;
            color: $secondary;
            margin-top: 4px;
        }

    }
}

@include media(mobile) {
    .hobbies {
        &__item {
            flex-direction: column;
        }

    }
}

@include media(tablet) {
    .hobbies {
        &__item {
            flex-direction: row;
        }
    }
}