@use '~src/styles/variables' as *;

.profile {
    margin-top: 40px;

    display: flex;
    justify-content: center;

    &__user {
        flex: 1;

        display: flex;

        &-avatar {
            margin-top: -60px;
            margin-right: $p20;
            width: 130px;
            height: 130px;
        }

        &-info-contact-info {
            min-width: 318px;
        }

        &-info-title {
            margin-top: 4px;
            margin-bottom: 16px;
        }
    }

    &__welcome {
        flex: 1;

        @mixin titleCenter {
            h4 {
                text-align: center;
            }
        }

        @include media(mobile) {
            @include titleCenter;
        }

        @include media(tablet) {
            @include titleCenter;
        }
    }
}

@include media(mobile) {
    .profile {
        flex-direction: column;
        gap: 20px;

        &__user {
            &-avatar {
                margin-right: 4px;
            }

            &-info-contact-info {
                min-width: 318px;
                margin-left: -134px;
            }
        }
    }
}


@include media(tablet) {
    .profile {
        flex-direction: column;
        gap: 20px;

        &__user {
            &-avatar {
                margin-right: 20px;
            }

            &-info-contact-info {
                margin-left: 0;
            }
        }
    }
}