@import '../../../styles/variables';

.scroll-top-top {
    position: fixed;
    bottom: 70px;
    right: 34px;

    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}