@use '../../../styles/variables' as *;

.slider {
    width: 100%;
    height: 470px;
    user-select: none;

    @include media(mobile) {
        height: 159px;
    }

    @include media(tablet) {
        height: 387px;
    }

    position: relative;
    margin: auto;

    &__item {
        opacity: 0;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: $border;

        position: absolute;

        transition: opacity linear 0.5s;

        &.show {
            opacity: 1;
        }

        img {
            pointer-events: none;
        }
    }

    &__action {
        @mixin action {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            cursor: pointer;
            margin-top: 1px;
            display: flex;
            padding: 16px;
            user-select: none;
        }

        &-prev {
            @include action;
            left: 0;
        }

        &-next {
            @include action;
            right: 0;
        }
    }
}