 @use '../../../../styles/variables' as *;

 .cart-product {

     &__title {
         margin: 0 10px;
     }

     &__list {
         margin-top: 10px;
         border-top: 1px solid $border;

         max-height: 478px;
         overflow: auto;
     }

     &__subtotal {
         margin-top: 10px;
     }
 }