 @use '../../styles//variables' as *;

 .product-page {
     &>* {
         margin-top: 20px;
         &:first-child {
            margin-top: 0;
         }
         &:nth-child(2) {
            margin-top: 10px;
         }
     }

     &__notfound {

     }
     
     &__loading {
         display: flex;
         align-items: center;
         justify-content: center;
     }
 }