@import '../../styles/variables';

.menu-modal {
    &__menu {
        background-color: $primary;
        height: 321px;

        &-close {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            height: 59px;
        }
    }
}