@import './variables';

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
}

body {
    padding-bottom: 120px;
    position: relative;
}

ul {
    margin: 0;
    padding-left: 19px;

    li>span {
        position: relative;
        left: -4px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 140%;
    margin: 0;
    font-weight: 400;
}

// typo
h1 {
    font-size: map-get($fontSize, h1);
}

h2 {
    font-size: map-get($fontSize, h2);
}


h3 {
    font-size: map-get($fontSize, h3);
}


h4 {
    font-size: map-get($fontSize, h4);
}

h5 {
    font-size: map-get($fontSize, h5);
}

h6 {
    font-size: map-get($fontSize, h6);
}

// body text
span {
    font-size: map-get($fontSize, span);
    line-height: 140%;
}

span.text-xs {
    font-size: map-get($fontSize, text-xs);
    line-height: 140%;
}

span.text-xxs {
    font-size: map-get($fontSize, text-xxs);
    line-height: 140%;
}


// radius
.radius-2 {
    border-radius: 2px;
}

// text color
.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-sub {
    color: $bodyTextSub;
}

.text-border {
    color: $border;
}

.text-danger {
    color: $danger;
}

.text-white {
    color: $white;
}

.text-link {
    color: $secondary;
    cursor: pointer;
    text-decoration: underline;
}

// display
.d-block {
    display: block;
}



// common style
.container {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.box {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.20);
    padding: $p20;
    background-color: $white;
    border-radius: map-get($borderRadius, md);
    margin-top: 40px;
}

.line {
    border-bottom: 1px solid $border;
}

// media queries
// mobile
@media (max-width: $screenTablet) {
    .container {
        max-width: $containerMobile;
    }
}

// tablet
@media (min-width: $screenTablet) and (max-width: $screenDesktop) {
    .container {
        max-width: $containerTablet;
    }
}

// desktop
@media (min-width: $screenDesktop) {
    .container {
        max-width: $containerDesktop;
    }
}