@import '~src/styles/variables';

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 40px;
    background: $primary;
    color: $white;


    display: flex;
    align-items: center;
    justify-content: center;

}