 @use '../../../../styles/variables' as *;

 .cart-item {
     display: flex;
     align-items: center;
     gap: 10px;

     padding: 10px 0;
     border-bottom: 1px solid $border;
     min-height: 118px;

     &__image,
     &__info {
         margin-bottom: 4px;
     }

     &__image {
         cursor: pointer;
     }

     &__info {
         flex: 1;
         align-self: stretch;
         min-height: 100%;

         display: flex;
         flex-direction: column;
         justify-content: space-between;

         &-title {
             cursor: pointer;
             display: flex;
             align-items: center;
             justify-content: space-between;
             gap: 12px;

             span {
                 max-width: calc(100% - 26px);
             }

             &-delete {
                 min-width: 26px;
                 cursor: pointer;
             }

         }

         &-footer {
             display: flex;
             align-items: center;
             justify-content: space-between;
         }
     }
 }