@import '../../../styles/variables';

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;

    * {
        text-decoration: none;
        color: $white;
    }

    &__item {
        margin-right: 31px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .username {
            max-width: 200px;
            display: block;
            white-space: nowrap;

            font-size: 1.5rem;
            line-height: 140%;
            margin: 0;
            font-weight: 400;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }


        &:last-child {
            margin-right: 0;
        }

        .active {
            color: $secondary;
        }
    }

}

.menu.is-mobile {
    flex-direction: column;
    gap: 20px;
    height: auto;

    .menu__item {
        &:first-child {
            margin-top: 20px;
        }
        margin-right: 0;
    }
}