$primary: #FFFFFF;
$secondary: #4A5568;
$third: #ED8936;
$link: #2B6CB0;
$bodyText: #000000;
$bodyTextSub: #4A5568;
$border: #D9D9D9;
$danger: #DE3535;
$white: #FFFFFF;

$breakpoints: (
    // max 1100px
    desktop: 1440px,
    // max 874px
    tablet: 1024px,
    // max 358px
    mobile: 390px
);
$borderRadius: (
    xxs: 2px,
    xs: 4px,
    sm: 6px,
    md: 8px,
    lg: 16px,
    xl: 32px,
    50: 50%,
);