@import './variables';

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto;
    font-size: 16px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}


h3 {
    font-size: 2rem;
}


h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

// body text
span {
    font-size: 1rem;
}

span.text-xs {
    font-size: 0.875rem;
}

span.text-xxs {
    font-size: 0.75rem;
}