@use '../../styles/variables' as *;
@use 'sass:map';

.button-wrapper {
    &>button {
        padding: 5px 24px;
        justify-content: center;
        align-items: center;

        border-radius: map.get($borderRadius, xxs);
        height: 45px;
        font-size: 25px;
        font-weight: 400;
        color: white;
        outline: none;

        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        cursor: pointer;
        user-select: none;
    }

    // size
    &__default {}

    &__md button {
        height: 32px;
        font-size: 16px;
    }

    &__sm button {
        height: 30px;
        font-size: 14px;
    }


    &__xs button {
        height: 26px;
        font-size: 12px;
    }

    // variants
    &__primary button {
        background: $secondary;

    }

    &__disabled button {
        background: $border;
        color: $primary;
        pointer-events: none;
    }

    &__fullWidth>button {
        width: 100%;
    }

}